---
import NewsletterForm from "./NewsletterForm.astro";
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Suscribite a <br class="block sm:hidden" />nuestro Newsletter</span>
				</h2>
				<p class="text-lg text-gray-600 dark:text-slate-400">
					Y recibí las últimas novedades sobre cómo mejorar tu descanso.
				</p>

				<div class="mt-6">
					<NewsletterForm />
				</div>
			</div>
		</div>
	</div>
</section>
