---
import { Icon } from 'astro-icon';
import { Schema } from 'astro-seo-schema';

const items = [
	[
		{
			question: '¿Qué colchón comprar?',
			answer: `En realidad, no existe un sólo colchón que se adapte a todas las personas. Para saber qué colchón comprar, es importante que entiendas tus necesidades y gustos personales. Podés hablar con expertos que te guíen con eso.`,
		},
		{
			question: '¿Cuál colchón es mejor? ¿De espuma o de resortes?',
			answer: `Ambos tipos de colchones son buenos, pero tienen características muy distintas entre sí. El de espuma es un colchón bien firme, a mayor precio, mayor densidad, y por lo tanto mayor firmeza. El colchón de resortes puede ser más complejo de definir, pero por lo general el colchón de resortes es mucho más flexible - blandito - que el de espuma.`,
		},

	],
	[
		{
			question: "¿Cómo elegir el colchón?",
			answer: `Hay 4 puntos clave a tener en cuenta: el presupuesto, el tamaño, la firmeza y el soporte. Cada una se define individualmente para cada persona y no se podría hacer una regla general para que cumpla todos los casos.`,
		},
		{
			question: "¿Cuándo cambiar el colchón?",
			answer: `Depende del uso y cuidado que haya tenido el colchón, pero por lo general se estima que cada 8 a 12 años, se debe cambiar el colchón. Las razones que pueden llegar a causar el cambio son variadas, entre ellas: aparición de ácaros con el tiempo, deformaciones del colchón, hundimientos, etc. `,
		},
	],
];
---

<Schema item={
	{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "¿Qué colchón comprar?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "En realidad, no existe un sólo colchón que se adapte a todas las personas. Para saber qué colchón comprar, es importante que entiendas tus necesidades y gustos personales. Podés hablar con expertos que te guíen con eso."
    }
  },{
    "@type": "Question",
    "name": "¿Cuál colchón es mejor? ¿De espuma o de resortes?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ambos tipos de colchones son buenos, pero tienen características muy distintas entre sí. El de espuma es un colchón bien firme, a mayor precio, mayor densidad, y por lo tanto mayor firmeza. El colchón de resortes puede ser más complejo de definir, pero por lo general el colchón de resortes es mucho más flexible - blandito - que el de espuma."
    }
  },{
    "@type": "Question",
    "name": "¿Cómo elegir el colchón?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Hay 4 puntos clave a tener en cuenta: el presupuesto, el tamaño, la firmeza y el soporte. Cada una se define individualmente para cada persona y no se podría hacer una regla general para que cumpla todos los casos."
    }
  },{
    "@type": "Question",
    "name": "¿Cuándo cambiar el colchón?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Depende del uso y cuidado que haya tenido el colchón, pero por lo general se estima que cada 8 a 12 años, se debe cambiar el colchón. Las razones que pueden llegar a causar el cambio son variadas, entre ellas: aparición de ácaros con el tiempo, deformaciones del colchón, hundimientos, etc."
    }
  }]
}
} />
<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Lo que más nos preguntan
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<h3 class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</h3>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
