---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/blog';

const ids = [
	'como-elegir-buen-colchon.md',
	'como-elegir-buena-almohada.md',
];
const posts = await findPostsByIds(ids);
---

<section class="px-4 pb-16 mx-auto max-w-6xl lg:py-20" id="blog">
	<div class="flex flex-col mb-6 lg:justify-center lg:flex-row md:mb-8">
		<h2 class="text-center max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading">
			Nuevos artículos
		</h2>
	</div>

	<Grid posts={posts} />
</section>
